<div class="row">
  <div class= "col-lg-6 col-md-6 col-sm-8 col-xs-10 main col-centered">
    <!-- Images -->
    <div style="margin:0 auto; display:inline-block;">
      <div class="row">
        <div class="col-centered">
          <table>
            <tr>
              <td><img class="disappear" src="../assets/saw.png"></td>
              <td><img src="../assets/tools.png"></td>
              <td><img class="disappear" src="../assets/ladder.png"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <h1 class="centered home_title"><%= APP_NAME %></h1>
    <div>
      <h2 class="subheader header centered">Neighbors sharing with neighbors<br/>in the 21st century.</h2>

      <div class = "container">
        <div class="row">
          <div class= "col-md-2 col-sm-1 col-xs-0">
          </div>

          <div class= "col-md-3 col-sm-4 col-xs-12">
            <div class="sign-in-button"> 
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-large btn-success"%>
            </div>
          </div>

          <div class= "col-md-2 col-sm-2 col-xs-0">           
          </div>

          <div class= "col-md-3 col-sm-4 col-xs-12">
            <div class="sign-in-button">
              <%= link_to "Sign In", new_user_session_path, class: "btn btn-large btn-success" %>
            </div>
          </div>

          <div class= "col-md-2 col-sm-1">
          </div>     
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class= "col-lg-6 col-md-6 col-sm-8 col-xs-10 main col-centered">

    <%= render "shared/error_messages" %>

  </div>
</div>