<!-- <div class="container">
  <div class="row"> -->
    <div class= "col-md-4"></div>
    <div class= "col-md-4">
      <h1>Welcome to The Shed!</h1>
      
      <div>
        <h2 class="subheader header">Share your stuffz</h2>

        <div>
          <p>Because there's people out there who don't have your stuffz and they want your stuffz. And they'll treat it real nice like. And then they'll give it back.</p>
          <p>And then you'll feel good inside. And people payin' big money these dayz just to feel good inside.</p>
          <p>Join <em>The Shed</em> before all your stuffz getz old and no-worky and even you don't want your stuffz. Because then it will be too late to share, and howz you gonna feel all good inside, hmm?</p>
        </div>
      
        <div class="btn-large"><%= link_to "Sign Up", new_user_registration_path %></div>
      
        <div class="btn-large"><%= link_to "Sign In", new_user_session_path %></div>
     </div>
    </div>
    <div class= "col-md-4"></div>
    <!-- </div> -->
 <!--  </div> -->
