<div class="row">
  <div class="large-6 medium-8 small-10 small-centered columns white-overlay">
    <h1>Welcome to The Shed!</h1>
    
    <div>
      <h2 class="subheader header">Share your stuffs</h2>

      <div>
        <p>Because there's people out there who don't have your stuff and they want your stuff. And they'll treat it real nice like. And then they'll give it back.</p>
        <p>And then you'll feel good inside. And people payin' big money these days just to feel good inside.</p>
        <p>So join The Shed before all your stuff gets old and no-worky. Because then even you won't want your stuff. And it will be too late to share it.</p>
      </div>
    
      <div class="success button"><%= link_to "Sign Up", new_user_registration_path %></div>
    
      <div class="success button"><%= link_to "Sign In", new_user_session_path %></div>
    
    </div>
  </div>
</div>