<style>
  * {
    border: 1px solid red;
  }
</style>
<div class="row">
  <div class= "col-lg-6 col-md-6 col-sm-8 col-xs-10 main col-centered">
    <div style="width:100%;">
      <img src="../assets/saw.png">
      <img src="../assets/tools.png">
      <img src="../assets/ladder.png">
    </div>
    <h1 class="centered">THE SHED</h1>
    <div>
      <h2 class="subheader header centered">Neighbors helping neighbors<br/>in the 21st century.</h2>

      <div class = "container">
        <div class="row">
          <div class= "col-md-2 col-sm-1 col-xs-0">
          </div>

          <div class= "col-md-3 col-sm-4 col-xs-12">
            <div class="sign-in-button"> 
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-large btn-success"%>
            </div>
          </div>

          <div class= "col-md-2 col-sm-2 col-xs-0">           
          </div>

          <div class= "col-md-3 col-sm-4 col-xs-12">
            <div class="sign-in-button">
              <%= link_to "Sign In", new_user_session_path, class: "btn btn-large btn-success" %>
            </div>
          </div>

          <div class= "col-md-2 col-sm-1">
          </div>     
        </div>
      </div>

    </div>
  </div>
</div>