<div class="section" id="services">
  <div class="fixed-wrapper"><h1>Edit Profile</h1></div>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="edit-profile">
          
          <%= render 'form' %>
        
          <%= link_to 'Show', @user %> |
          <%= link_to 'Back', :back %>
        </div>
      </div>
    </div>
  </div>
</div>
