<head>
  <div class="search affix" style="opacity: 1;">
    <i class="fa fa-search icon"></i>
      <%= form_tag users_path, class: "form-inline", :method => 'get' do %> 
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: "form-control" %>
        </div>         
      <% end %>
  </div>
</head>

<div class="section">
  <div class="fixed-wrapper">
    <h1>The Neighborhood</h1>
  </div>
          
  <div class="container index" style="margin-top: 0">

    <% if params[:search].present? %>
      <% @users %>
    <div class="search-clear">
      <%= link_to "Clear Results", users_path %>
    </div>
    <% end %>

    <div id="masonry-container" class="user-wall transitions-enabled infinite-scroll clearfix">

    </div>
  </div>
</div>

<div id="templates">

  <script class="user" type="text/template">

    <div class="polaroid resource-box">
      <div class="imgContainer imgLiquidFill imgLiquid" style="width:200px; height:200px;">
        <a href="/users/{{ id }}" >
          <img src={{ picture }} />
        </a>
      </div>
      <div class="info">
        <p class="name"> {{ name }} </p>
        <p class="distance-away user"> {{ distance }} miles away</p>
      </div>
    </div>

  </script>

</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    var userDistances = <%= raw @jason %>;
    var wall = new UserWall([], { url: '/users' });   
    var wallView = new UserWallView({
      collection: wall,
      el: '.user-wall'
    });

     for (var i=0; i < userDistances.length; i++) {
       wall.add( userDistances[i]);
     }

     $(document).ready(function() {
         $(".imgLiquidFill").imgLiquid({fill:true});
     });
  </script>
<% end %>