<% if flash[:error] %>
  <div data-alert class="alert alert-color alert-error">
    <p><%= flash[:error] %></p></div>
<% end %>

<%if flash[:notice] %>
  <div data-alert class="alert alert-color alert-success">
    <p><%= flash[:notice] %></p></div>
<% end %>

<%if flash[:alert] %>
  <div data-alert class="alert alert-color alert-error">
    <p><%= flash[:alert] %></p></div>
<% end %>