<div class="container" style="margin-top: 0">
  <div class="content">
    <div class="row">
      <div class="col-4-md col-6-sm">
        <h3><%= mapped_resource.name %></h3>
        <div class = "gmimage"><%= image_tag mapped_resource.picture.url(:thumb), class:"expanded" %>
        </div>
      </div>
      <div class="col-4-md col-6-sm">
        <div class = "gmdes">
          <h4>Description:</h4>     
          <p><%= mapped_resource.description %></p>    
        </div>
      </div>
    </div>
  </div>
</div>