<div class="container map-info-container">
  
      <div class="col-centered col-xs-12 col-md-12 col-lg-12">
        <div class="map-img">
          <div class = "gmimage">
            <%= image_tag mapped_resource.picture.url(:thumb), class:"expanded" %>
          </div>
        </div>
        <div class="map-deets">
          <div class = "gmdes">
            <h3><%= link_to mapped_resource.name, resources_show_path(mapped_resource) %></h3>
            <h5>Description:</h5>
            <p><%= mapped_resource.description %></p>    
          </div>
        </div>
      </div>

</div>