<div class="row">
  <div class="large-4 medium-6 small-10 small-centered columns white-overlay">
    <h1>Editing resource</h1>

    <%= render 'form' %>

    <%#= link_to 'Show', @resource %>
    <%= link_to 'Back', resources_path %>

  </div>
</div>