<div class="section" id="services">
  <div class="fixed-wrapper">
    <h1>Edit <%= RESOURCE_NAME_SINGULAR %></h1>
  </div>
  <div class="container" style="margin-top: 0">
    <div class="content with-labels">

      <%= render 'form' %>

    </div>
  </div>
</div>

<% content_for :javascript do %>

  <script>
    $(document).ready(function(){
        var preview = $(".upload-preview img");
        
        $(".file").change(function(event){
           var input = $(event.currentTarget);
           var file = input[0].files[0];
           var reader = new FileReader();
           reader.onload = function(e){
               image_base64 = e.target.result;
               preview.attr("src", image_base64);
           };
           reader.readAsDataURL(file);
        });
    });
  </script>
  <script type="text/javascript">

    $(document).ready(function() {
        $(".imgLiquidFill").imgLiquid({fill:true});
    });

  </script>
<% end %>
