<h1>Listing resources</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
<!--       
      <th></th>
      <th></th>
      <th></th> -->
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.description %></td>
        <td><%= image_tag resource.picture.url(:thumb) %></td>
<!-- 
        <td><%#= link_to 'Show', resource %></td>
        <td><%#= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%#= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Resource', new_resource_path %>

<div class="resource-wall"></div>

<div id="templates">

  <script class="resource" type="text/template">

    <a href="/resources/{{ id }}">
      <div class="resource-div">
        <img src={{ picture }} />
        <br>
        <b>{{ name }} </b>
      </div>
    </a>

  </script>

</div>

<% content_for :javascript do %>
  <script type="text/javascript">

    var wall = new ResourceWall([], {
      url: '/resources'
    });
    
    var wallView = new ResourceWallView({
      collection: wall,
      el: '.resource-wall'
    });

    wall.add(<%= raw @resources.to_json %>);

  </script>
<% end %>
