
<!-- Resource Index Section -->
<div class="section">
  <div class="fixed-wrapper"><h1>Resource Listing</h1></div>
  <div class="container">
    <%= render "shared/error_messages" %>
    
    <div id="masonry-container" class="resource-wall transitions-enabled infinite-scroll clearfix">

    </div>

  </div>
</div><!-- /.section -->


 <div id="templates">

    <script class="resource" type="text/template">

      <div class="polaroid resource-box">
        <div class="imgContainer imgLiquidFill imgLiquid" style="width:300px; height:300px;">
          <a href="/resources/{{ id }}" >
            <img src={{ picture }} />
          </a>
        </div>
        <div class="info">
          <p class="name"> {{ name }} </p>
          <p class="distance-away"> {{ distance }} miles away</p>
        </div>
      </div>

    </script>
  </div>

<% content_for :javascript do %>
  <script type="text/javascript">

    var wall = new ResourceWall([], {
      url: '/resources'
    });
    
    var wallView = new ResourceWallView({
      collection: wall,
      el: '.resource-wall'
    });

    <% @resources.each do |x| %>
     
      <% miles = x.get_distance(User.find(x.user_id), current_user)[:distance] %>
        wall.add(<%= raw x.to_json({distance: miles}) %>);
    <% end %>
  </script>

  <script>

    $(document).ready(function() {
        $(".imgLiquidFill").imgLiquid({fill:true});
    });

  </script>
<% end %>
