<!-- Resource Index Section -->
<div id="team" class="section">
  <div class="fixed-wrapper">
    <h1>Resource Listing</h1>
  </div>

  <div class="container">
    <%= render "shared/error_messages" %>    
    <div class="content">
      <div class="row">
        <div class="resource-wall">         
        </div>
      </div>          
    </div>
  </div>
</div><!-- /.container -->

<div id="templates">

  <script class="resource" type="text/template">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="team-portrait block">              
        <div class="portrait">
          <a href="/resources/{{ id }}">
            <img class="resource-pic" src={{ picture }} />              
            <span class="overlay"><span class="valign"></span><i class="icon-search"></i></span>                    
          </a>
        </div>

        <div class="title">
          <div class="name"> 
            {{ name }}
          </div>
        </div>
        <div class="distance-away">
          <b>{{ distance }} miles away</b>
        </div>
      </div>
    </div>
  </script>
  
</div>

<% content_for :javascript do %>
  <script type="text/javascript">

    var wall = new ResourceWall([], {
      url: '/resources'
    });
    
    var wallView = new ResourceWallView({
      collection: wall,
      el: '.resource-wall'
    });

    <% @resources.each do |x| %>
      wall.add(<%= raw x.to_json({distance: @distances[x.user.id]}) %>);
    <% end %>
  </script>
<% end %>
