// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.marker_container {
  border: 1px solid black;
  margin-top: 8px;
  background: #fff;
  padding: 5px;
}

* {
  /*border: 1px solid red;*/
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;

}

.resource-div{
  /*background-color: teal;*/
  margin: 5px;
  float: left;
/*  img{
    width: 125px;
    height: 125px;
  }*/

  .resource-wall{

  }
}

.resource {
  float:left;
}

.resource_img {
  border: 3px solid gray;
  width: 240px;
  height: 250px;
  margin: 2px;
  padding: 10px;
}

.resource-wrapper-index {
  /*background-color: gray;*/
  float: left;
  margin: 5px;
  height: auto;
  padding: 5px;
  padding-bottom: 15px;
  border: 2px solid gray;
  a {
    &:hover {
      font-style: italic;
      color: gray;
    }
  }
  .resource-desc {
    /*height: 20px;*/
    margin-left: 10px;
  }
  .name {
    font-size: 1.5em;
  }
  .distance-away {
    color: red;
    font-style: italic;
    font-size: 1.3em;
  }
}


.resource-wrapper {
  background: asset-path('assets/brushed.png', image) repeat; 
  .button {
    margin: 1em;
    color: white;
  }
}

#masonry-container {
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.polaroid .info {
  position: absolute;
  text-align: center;
  width: 100%;
  /*bottom: 0px;*/
  font: 400 18px/1;
  color: #888;
  margin-top: 15px;
}

.polaroid .info p {
  margin-bottom: 0;
}

.polaroid .info .name {
  font-size: 1.5em;
}

.polaroid .info .distance-away {
  font-weight: bold;
  font-style: italic;
  padding-bottom: 30px;
  font-size: 1.5em;
  color: #D98719;
}

.polaroid .info .distance-away.user{
  font-size: 1.4em;
}

.resource-box {
  margin-bottom: 15px;
  margin-top: 15px;
  float: left;
  margin-right:15px;
  border: 10px solid #fff;
  border-bottom: 85px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
  max-width: 320px;
  position: relative;
}
.resource-box2 {
  margin-bottom: 15px;
  margin-top: 15px;
  float: left;
  margin-right:15px;
  border: 10px solid #fff;
  border-bottom: 105px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
  max-width: 320px;
  position: relative;
}
.user-profile-img {
  margin-bottom: 15px;
  margin-top: 60px;
  float: left;
  margin-right:15px;
  border: 10px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
  max-width: 320px;
  position: relative;
}

#map {
  width: 100%; 
  height: 400px;
  margin-top: 20px;
}
