// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resource-nav {
  
}

.resource-div{
  background-color: teal;
  margin: 5px;
  float: left;
  img{
    width: 125px;
    height: 125px;
  }

  .resource-wall{

  }
}