// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Styles specific to shed style */
.shed-bg {
  width: 100%;
  min-height: 680px; // to make it full-screen top to bottom on most screens
  background-size: cover; //this resizes the background for any screen size
}


.white-overlay {
  background: rgba(255,255,255,.7);
  padding-bottom: 20px;
}

/* Error messages overrides */

#error_explanation {
  width: 100%;
  border: 2px solid #c00;
}

.field_with_errors {
  background-color: #c00;
}

/* User Pages */
.profile-img {
  /*** double-check these cross-browser styles ****/
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: block;
}

.resource-profile {
  margin: 5px;
  float: left;
}

#profileinfo {
  font-size: 20px;
  margin-top: -50px;
}

#profileinfo h1 {
  font-size: 2em;
}

.sign_in {
  margin-top: -100px;
  padding-top: 50px;
}



.sign-in-button {
  margin: 0 auto;
  width: 9em;
}

@media all and (max-width: 1000px) {
  img.disappear {
  display: none;
  }
}

.home-container {
  margin-right: auto;
  margin-left: auto;
}

.center-home {
  margin: 0 auto;
}

