// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Styles specific to shed style */
.shed-bg {
  width: 100%;
  background: url( asset-path('assets/shed_bg.jpg', image) ) no-repeat;
  min-height: 880px; // to make it full-screen top to bottom on most screens
  background-size: cover; //this resizes the background for any screen size
  padding: 6em 0em; //gives it some breathing room from the top

}


.white-overlay {
  background: rgba(255,255,255,.5);
}

/* Error messages overrides */

#error_explanation {
  width: 100%;
  border: 2px solid #c00;
}

.field_with_errors {
  background-color: #c00;
}

/* User Pages */
.profile-img {
  /*** double-check these cross-browser styles ****/
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: block;
}

.resource-profile {
  margin: 5px;
  float: left;
}

#profileinfo {
  font-size: 20px;
  

}

#profileinfo h1 {
      font-size: 60px;
    }

