<!-- Format should be same at show.html.erb and edit.hmtl.erb -->

<div id="contact" class="section">
  <div class="fixed-wrapper"><h1>Request to Borrow</h1></div>
  <div class="container">
    
    <div class="content">
     
      <%= render 'form' %>

      <%= link_to 'Back', resources_path %>

      
    </div>
    <br />
    
  </div>
</div><!-- /.container -->   
